/* 画像スライダー */
.slider {
    width: 300px;
    height: 300px;
    display: grid;
    justify-content: center;
    position: relative; 
}
.slider_outer {
    position: relative;
    width: 250px;
    height: 250px;   
    overflow: hidden;
}
.slider_container {
    display: flex;
    column-gap: 30px;
    transition: .5s ease-in-out;
}

/* 進む・戻るボタン */
button {
    all: initial;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
}
button:active {
    opacity: .6;
}
.next_btn {
    position: absolute;
    color: lightcoral;
    top: 110px;
    right: -20px;
}
.back_btn {
    position: absolute;
    color: lightgray;
    top: 110px;
    left: -15px
}

/* ドットインジケータ */
.indicator_container {
    display: flex;
    justify-content: center;
    column-gap: 30px;
}
.indicator {
    width: 10px;
    height: 10px;
    background-color: lightgray;
    border-radius: 50%;
}
.indicator1 {
    background-color: gray;
}
